@using splc.beholder.web.Utility
@model BeholderPerson

@{
    var personId = ViewBag.PersonId;
    var beholderPersonId = ViewBag.BeholderPersonId;
    //var formcollection = Session["formcollection"];
    var page = Session["page"];
    var pageSize = Session["pageSize"];
    var fname = Session["fname"];
    var lname = Session["lname"];
    var alias = Session["alias"];
    var location = Session["location"];
    var movementclassid = Request["movementclassid"];

    var movementclassid_string = "";
    if ((Session["movementclassid"] ?? Request["movementclassid"]) != null)
    {
        movementclassid_string = string.Join(",", (List<int>)(Session["movementclassid"] ?? Request["movementclassid"]));
    }

    ViewBag.Title = "Details - " + string.Format("{0} {1} {2} {3}", Model.CommonPerson.Prefix == null ? "" : Model.CommonPerson.Prefix.Name, @Model.CommonPerson.FName, @Model.CommonPerson.MName, @Model.CommonPerson.LName);
}
<h2 class="title-bar">@Model.CommonPerson.FullName</h2>
<div class="search-bar">
    <div class="row">
        <span>
            @Html.ActionLink("Return to List", "Index", new { page, pageSize, fname, lname, movementclassid, movementclassid_string, alias, location })
        </span>
        <span class="pull-right">
            @Html.ActionLink("Edit", "Edit", "Persons", new { id = Model.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "RemovePerson", "Persons", new { id = Model.Id }, new { @class = "btn btn-default" })
        </span>
    </div>
</div>


<div class="row">

    <ul class="detail-list">
        <li>
            <div class="thumbnail">
                @if (Model.PersonMediaImageRels.Count > 0)
                {
                    <img src="@Url.Action("ShowPrimaryImage", "Persons", new { Model.Id })" alt="org image" class="thumbnail-img" height="270" width="500" />
                }
                else
                {
                    <img src="~/Content/images/image_unavailable.jpg" alt="" height="270" width="500" />
                }
            </div>
        </li>
        <li>
            <div class="panel panel-primary">
                <div class="panel panel-heading">Details</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>ConfidentialityType</td>
                            <td>@(Model.ConfidentialityType == null ? "Unknown" : Model.ConfidentialityType.Name)</td>
                        </tr>
                        <tr>
                            <td>Movement Class</td>
                            <td>@(Model.MovementClass == null ? "Unknown" : Model.MovementClass.Name)</td>
                        </tr>
                        <tr>
                            <td>SSN</td>
                            <td>@Model.CommonPerson.SSN</td>
                        </tr>
                        <tr>
                            <td>Marital Status</td>
                            <td>@(Model.CommonPerson.MaritialStatus == null ? "Unknown" : Model.CommonPerson.MaritialStatus.Name)</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>@(Model.CommonPerson.DOB == null ? "Unknown" : @String.Format("{0:d}", Model.CommonPerson.DOB))</td>
                        </tr>
                        <tr>
                            <td>Actual Date of Birth</td>
                            <td>@(Model.CommonPerson.ActualDOBIndicator == null ? "Unknown" : @String.Format("{0}", Model.CommonPerson.ActualDOBIndicator))</td>
                        </tr>
                        <tr>
                            <td>Deceased Date</td>
                            <td>@(Model.CommonPerson.DeceasedDate == null ? "Unknown" : @String.Format("{0:d}", Model.CommonPerson.DeceasedDate))</td>
                        </tr>
                        <tr>
                            <td>Actual Deceased Date</td>
                            <td>@(Model.CommonPerson.ActualDeceasedDateIndicator == null ? "Unknown" : @String.Format("{0}", Model.CommonPerson.ActualDeceasedDateIndicator))</td>
                        </tr>

                    </table>
                </div>
            </div>
        </li>
        <li>
            <div class="panel panel-primary">
                <div class="panel panel-heading">Status</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>@Html.DisplayNameFor(_ => Model.ModifiedUser).ToString()</td>
                            <td>@(Model.ModifiedUser == null ? "None" : Model.ModifiedUser.UserName)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(_ => Model.DateModified).ToString()</td>
                            <td>@String.Format("{0:d}", Model.DateModified)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </li>
        <li>
            <div class="panel panel-primary">
                <div class="panel panel-heading">Miscellaneous</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>Drivers License Number</td>
                            <td>@(Model.CommonPerson.DriversLicenseNumber ?? "Unknown")</td>
                        </tr>
                        <tr>
                            <td>Drivers License State</td>
                            <td>Drivers @(Model.CommonPerson.State == null ? "Unknown" : Model.CommonPerson.State.StateCode)</td>
                        </tr>
                        <tr>
                            <td>License Type</td>
                            <td>@(Model.CommonPerson.LicenseType == null ? "Unknown" : Model.CommonPerson.LicenseType.Name)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </li>
        <li>
            <div class="panel panel-primary">
                <div class="panel panel-heading">Physical Appearance</div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>Hair Color</td>
                            <td>@(Model.CommonPerson.HairColor == null ? "Unknown" : Model.CommonPerson.HairColor.Name)</td>
                        </tr>
                        <tr>
                            <td>Hair Pattern</td>
                            <td>@(Model.CommonPerson.HairPattern == null ? "Unknown" : Model.CommonPerson.HairPattern.Name)</td>
                        </tr>
                        <tr>
                            <td>Eye Color</td>
                            <td>@(Model.CommonPerson.EyeColor == null ? "Unknown" : Model.CommonPerson.EyeColor.Name)</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td>@(Model.CommonPerson.Height ?? "Unknown")</td>
                        </tr>
                        <tr>
                            <td>Weight</td>
                            <td>@(Model.CommonPerson.Weight ?? "Unknown")</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>@(Model.CommonPerson.Gender == null ? "Unknown" : Model.CommonPerson.Gender.Name)</td>
                        </tr>
                        <tr>
                            <td>Race</td>
                            <td>@(Model.CommonPerson.Race == null ? "Unknown" : Model.CommonPerson.Race.Name)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Distinguishable Marks</td>
                        </tr>
                        <tr>
                            <td colspan="2">@(Model.DistinguishableMarks ?? "None")</td>
                        </tr>
                    </table>
                </div>
            </div>
        </li>
        <li>
            <div id="personAliasList">
                @Html.Partial("../Aliases/_PersonAliasList", Model.CommonPerson.AliasPersonRels.Where(x => x.DateDeleted == null || x.Alias.DateDeleted == null))
            </div>
        </li>
        <li>
            <div id="personScreenNames">
                @Html.Partial("_PersonScreenNameList", Model.PersonScreenNames.Where(x => x.DateDeleted == null))
            </div>
        </li>
        <li>
            <div id="personContactInfo">
                @Html.Partial("../ContactInfoPersonRels/_PersonContactInfoList", Model.CommonPerson.ContactInfoPersonRels.Where(x => x.DateDeleted == null))
            </div>
        </li>
        <li>
            <div id="personAddresses">
                @Html.Partial("../Addresses/_PersonAddressList", Model.CommonPerson.AddressPersonRels.Where(x => x.DateDeleted == null))
            </div>
        </li>
    </ul>

    <h2 class="seperator-bar panel-primary">Relationships</h2>

    <ul class="detail-list">
        <li>
            <div id="personPersons">
                @Html.Partial("../Persons/_PersonPersonList", Model)
            </div>
        </li>
        <li>
            <div id="chapterPersons">
                @Html.Partial("../Chapters/_ChapterPersonList", Model.ChapterPersonRels)
            </div>
        </li>
        <li>
            <div id="organizationPersons">
                @Html.Partial("../Organizations/_OrganizationPersonList", Model.OrganizationPersonRels)
            </div>
        </li>
        <li>
            <div id="personContacts">
                @Html.Partial("../Persons/_PersonContactList", Model.PersonContactRels)
            </div>
        </li>
        <li>
            <div id="personEvents">
                @Html.Partial("../Persons/_PersonEventList", Model.PersonEventRels)
            </div>
        </li>
        <li>
            <div id="personMediaAudioVideos">
                @Html.Partial("../Persons/_PersonMediaAudioVideoList", Model.PersonMediaAudioVideoRels)
            </div>
        </li>
        <li>
            <div id="personMediaWebsiteEGroups">
                @Html.Partial("../Persons/_PersonMediaWebsiteEGroupList", Model.PersonMediaWebsiteEGroupRels)
            </div>
        </li>
        <li>
            <div id="personVehicles">
                @Html.Partial("../Persons/_PersonVehicleList", Model.PersonVehicleRels)
            </div>
        </li>

        <li>
            <div id="personMediaCorrespondences">
                @Html.Partial("../Persons/_PersonMediaCorrespondenceList", Model.PersonMediaCorrespondenceRels)
            </div>
        </li>

        <li>
            <div id="personMediaPublisheds">
                @Html.Partial("../Persons/_PersonMediaPublishedList", Model.PersonMediaPublishedRels)
            </div>
        </li>
    </ul>

</div>

<div class="row">
    <div id="personMediaImages">
        @Html.Partial("../Persons/_PersonMediaImageList", Model.PersonMediaImageRels)
    </div>
</div>

<div class="row">
    <div id="personComments">
        @Html.Partial("../Comments/_PersonCommentList", Model.PersonComments.Where(x => x.DateDeleted == null).OrderByDescending(x => x.DateModified), new ViewDataDictionary { { "BeholderPersonId", Model.Id } })
    </div>
</div>

<script>
    function onAdditionalChapterList() {
        return {
            term: $("#ChapterId").data("kendoComboBox").text()
        };
    }

    function databoundChapterList() {
        if ($("#ChapterId").data("kendoComboBox").value() === '-1') {
            $("#ChapterId").data("kendoComboBox").text('');
        }
    };

    function onAdditionalDataWebsiteList() {
        return {
            term: $("#MediaWebsiteEGroupId").data("kendoComboBox").text()
        };
    };

    function databoundWebsiteList() {
        if ($("#MediaWebsiteEGroupId").data("kendoComboBox").value() === '-1') {
            $("#MediaWebsiteEGroupId").data("kendoComboBox").text('');
        }
    };


    function databoundPersonList() {
        if ($("#Person2Id").data("kendoComboBox").value() === '0') {
            $("#Person2Id").data("kendoComboBox").text('');
        }
    };

    function onAdditionalDataContactList() {
        return {
            term: $("#ContactId").data("kendoComboBox").text()
        };
    }

    function databoundContactList() {
        if ($("#ContactId").data("kendoComboBox").value() === '-1') {
            $("#ContactId").data("kendoComboBox").text('');
        }
    };

</script>