@model MediaImageVehicleRel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @* This partial view defines form fields that will appear when creating and editing entities *@
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.VehicleId, new { @required="required", @data_val_required="Vehicle is required."})
    @Html.HiddenFor(model => model.MediaImageId, new { @required = "required", @data_val_required = "Image is required." })

    <fieldset>

        @if (ViewBag.Controller == "MediaImages")
        {
            @Html.HiddenFor(model => model.Vehicle.Id)
            <div class="form-group" id="vehicleGroup">
                @Html.BootstrapLabelFor(model => model.Vehicle)
                <div class="col-sm-8">
                    @if (Model.Id == 0)
                    {
                        @*this is for the autocomplete search box for person*@
                        <div class="ui-widget">
                            <select id="combobox_vehicle" data-url="@Url.Action("GetVehicleList","Vehicles")" data-id="vehicleCombo" data-hidden-field="VehicleId"></select>
                        </div>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.VehicleId)</span>
                    }
                    else
                    {
                        <input type="text" class="disabled form-control" readonly="true" value="@Model.Vehicle" style="width: 100%;" />
                        @*<input readonly="true" class="text-box single-line" type="text" value="@string.Format("{0} {1} {2}-{3}", @Model.Vehicle.VehicleColorId == null ? "Color??" : @Model.Vehicle.VehicleColor.Name, @Model.Vehicle.VehicleMakeId == null ? "Make??" : @Model.Vehicle.VehicleMake.Name, @Model.Vehicle.VehicleModelId == null ? "Model??" : @Model.Vehicle.VehicleModel.Name, @Model.Vehicle.VIN == null ? "Unknown VIN" : @Model.Vehicle.VIN)" />*@
                    }
                </div>
            </div>
        }

        @if (ViewBag.Controller == "Vehicles")
        {
            @Html.HiddenFor(model => model.MediaImage.Id)
            <div class="form-group" id="mediaImageGroup">
                @Html.BootstrapLabelFor(m => m.MediaImage)
                <div class="col-sm-8">
                    @if (Model.Id == 0)
                    {
                        @*this is for the autocomplete search box for person*@
                        <div class="ui-widget">
                            <select id="combobox_mediaImages" data-url="@Url.Action("GetMediaImageList", "MediaImages")" data-id="mediaImagesCombo" data-hidden-field="MediaImageId"></select>
                        </div>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.MediaImageId)</span>
                    }
                    else
                    {
                        <input readonly="true" class="text-box single-line" type="text" value="@Model.MediaImage.ImageTitle" />
                    }
                </div>
            </div>
        }

        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.RelationshipTypeId)
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.RelationshipTypeId, ((IEnumerable<RelationshipType>)ViewBag.PossibleRelationshipTypes).Select(option => option != null ? new SelectListItem
                    {
                        Text = (option.Name),
                        Value = option.Id.ToString(),
                        Selected = (Model != null) && (option.Id == Model.RelationshipTypeId)
                    } : null), "Choose...", new { @class = "form-control", @required = "required", @data_val_required = "Relationship Type is required." })
                <div class="help-block">@Html.ValidationMessageFor(model => model.RelationshipTypeId)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.DateStart)
            <div class="col-sm-8">
                @Html.EditorFor(m => m.DateStart)
                <div class="help-block">@Html.ValidationMessageFor(m => m.DateStart)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.DateEnd)
            <div class="col-sm-8">
                @Html.EditorFor(m => m.DateEnd)
                <div class="help-block">@Html.ValidationMessageFor(m => m.DateEnd)</div>
            </div>
        </div>

    </fieldset>
}

<script type="text/javascript">
    $(function () {
        initPartialControls();
        if ($('#VehicleId').val() == -1) { $('#VehicleId').val(null); }

        if ($('#MediaImageId').val() == -1) { $('#MediaImageId').val(null); }
    });
</script>
