@model IEnumerable<MediaImageSubscriptionRel>
@{
    var viewItem = ViewBag.Controller == "Subscriptions" ? "Images" : "Subscriptions";
    var source = ViewBag.Controller == "Subscriptions" ? "Subscriptions" : "MediaImages";
    var mediaImageId = ViewData["MediaImageId"] == null ? -1 : (int)ViewData["MediaImageId"];
    var subscriptionId = ViewData["SubscriptionId"] ?? -1;

    var showSubscription = ViewBag.Controller == "MediaImages";
}
<div class="panel panel-primary">
    <div class="panel panel-heading">@viewItem <span class="badge pull-right">@string.Format("{0}", Model.Count())</span></div>
    <div class="panel-body">

        @if (!Model.Any())
        {
            <ul class="list-group">
                <li class="list-group-item">
                    @string.Format("No Known {0} Relationships", viewItem)
                </li>
            </ul>
        }


        @if (showSubscription)
        {
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(string.Format("{0}", item.Subscription.PublicationName), "Details", "Subscriptions", new { id = item.SubscriptionId }, null)<br/>
                        @Html.DisplayFor(model => item.Subscription.PublicationName)

                        <div class="clearfix">
                            <span class="pull-right">
                                <a href="@Url.Action("EditMediaImageSubscription", "MediaImages", new { id = item.Id, @source })"
                                   class="btnEdit"
                                   data-title="Edit Relationship"
                                   data-refresh="true"
                                   data-target="#mediaImageSubscriptions"
                                   data-action="@Url.Action("GetMediaImageSubscriptions", "MediaImages", new { @subscriptionId, @mediaImageId })"><span class="glyphicon glyphicon-pencil"></span></a>
                                <a href="@Url.Action("DeleteMediaImageSubscription", "MediaImages", new { id = item.Id })"
                                   class="btnDelete"
                                   data-title="Delete Relationship"
                                   data-refresh="true"
                                   data-target="#mediaImageSubscriptions"
                                   data-action="@Url.Action("GetMediaImageSubscriptions", "MediaImages", new { @subscriptionId, @mediaImageId })"><span class="glyphicon glyphicon-trash"></span></a>
                            </span>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {

            <div class="carousel slide media-carousel" id="media">
                <ol class="carousel-indicators">
                    <li data-target="#media" data-slide-to="0" class="active"></li>
                    <li data-target="#media" data-slide-to="1"></li>
                    <li data-target="#media" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    @{
            var items = Model.Take(6);
            var iterations = 0;
                    }
                    @while (items.Any())
                    {
                        var active = iterations == 0 ? "active" : "";

                        <div class="item @active" style="max-height: 240px; overflow: hidden">
                            <div class="row">
                                @foreach (var item in items)
                                {
                                    <div class="col-md-2">
                                        <div>
                                            
                                            @Html.ActionLink(string.Format("{0}", item.MediaImage.ImageTitle ?? "Unknown"), "Details", "MediaImages", new { id = item.MediaImageId }, new { @class = "image-title", @title = string.Format("{0}", @item.MediaImage.ImageTitle ?? "Unknown") })
                                            @if (item.MediaImage.Image != null)
                                            {
                                                <img src="@Url.Action("ShowImage", "MediaImages", new { item.MediaImage.Image.Id })" width="100" height="190" />
                                            }
                                            @if (item.MediaImage.Image == null)
                                            {
                                                <img src="~/Content/images/image-missing.jpg" alt="" width="100" height="190" />
                                            }
                                            <div class="pull-right">
                                                <a href="@Url.Action("DeleteMediaImageSubscription", "MediaImages", new { id = item.Id })"
                                                   class="btnDelete"
                                                   data-title="Delete Relationship"
                                                   data-refresh="true"
                                                   data-target="#mediaImageSubscriptions"
                                                   data-action="@Url.Action("GetMediaImageSubscriptions", "MediaImages", new { @subscriptionId, mediaImageId = -1 })"><span class="glyphicon glyphicon-trash"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                                iterations++;
                                items = Model.Skip(6 * iterations).Take(6);
                    }
                </div>
                <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                <a data-slide="next" href="#media" class="right carousel-control">›</a>
            </div>

        }

    </div>
    <div class="panel-footer">
        <a href="@Url.Action("CreateMediaImageSubscription", "MediaImages", new { @subscriptionId, @mediaImageId })"
           class="btnNew"
           data-title="New Relationship"
           data-refresh="true"
           data-target="#mediaImageSubscriptions"
           data-action="@Url.Action("GetMediaImageSubscriptions", "MediaImages", new { @subscriptionId, @mediaImageId })"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>


