@model IEnumerable<Group>
@{
    ViewBag.Title = "Security Groups";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/gridmvc.datepicker.min.css" rel="stylesheet" />


    <h2 class="title-bar">@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "CreateGroup", null, new
   {
       @class = "btn btn-primary btnNew",
       data_target = "#groupList",
       data_refresh = "true",
       data_title = "Create Group",
       data_action = @Url.Action("Groups", "Security", new { gridpage = @ViewBag.gridpage })
   })
    </p>

    <div id="groupList" class="col-lg-8 col-sm-8">
        @Html.Partial("_GroupList", Model)

    </div>
    <div class="col-lg-4 col-sm-4" id="group-detail">

    </div>


    @section scripts{
        <script src="~/Scripts/gridmvc.min.js"></script>

        <script type="text/javascript">
            $(function () {
                pageGrids.groupsGrid.onRowSelect(function (e) {
                    $.get("./GroupDetail?id=" + e.row.Id, function (data) {
                        $("#group-detail").html(data);
                    });
                });

            });
        </script>
}
