@model IEnumerable<splc.domain.Models.EventDocumentationType>
<h3>Event Documentation Types</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Sort Order</th>
        </tr>
    </thead>
    @foreach (var item in @Model)
    {
        <tr>
            <td class="nowrap">
                <a href="@Url.Action("EditEventDocumentationType", "Admin", new { id = item.Id })" 
                    class="btnEdit" 
                    data-title="Edit Event Documentation Type" 
                    data-refresh="true" 
                    data-action="@Url.Action("EventDocumentationType", "Admin", null)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("DeleteEventDocumentationType", "Admin", new { id = item.Id })" 
                    class="btnDelete" 
                    data-title="Delete Event Documentation Type" 
                    data-refresh="true" 
                    data-action="@Url.Action("EventDocumentationType", "Admin", null)"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
            <td>@item.Name</td>
            <td>@item.SortOrder</td>
        </tr>

    }
    <tr>
        <td colspan="3">
            <a href="@Url.Action("CreateEventDocumentationType", "Admin", null)" 
                class="btnNew" 
                data-refresh="true" 
                data-title="New Event Documentation Type" 
                data-action="@Url.Action("EventDocumentationType", "Admin", null)"><span class="glyphicon glyphicon-plus"></span></a>
        </td>
    </tr>
</table>

