@model IEnumerable<MaritialStatus>
<h3>Marital Statuses</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Sort Order</th>
        </tr>
    </thead>
    @foreach (var item in @Model)
    {
        <tr>
            <td class="nowrap">
                <a href="@Url.Action("EditMaritialStatus", "Admin", new { id = item.Id })"
                   class="btnEdit"
                   data-title="Edit Marital Status"
                   data-refresh="true"
                   data-action="@Url.Action("MaritialStatus", "Admin", null)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("DeleteMaritialStatus", "Admin", new { id = item.Id })"
                   class="btnDelete"
                   data-title="Delete Marital Status"
                   data-refresh="true"
                   data-action="@Url.Action("MaritialStatus", "Admin", null)"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
            <td>@item.Name</td>
            <td>@item.SortOrder</td>
        </tr>

    }
    <tr>
        <td colspan="3">
            <a href="@Url.Action("CreateMaritialStatus", "Admin", null)"
               class="btnNew"
               data-refresh="true"
               data-title="New Marital Status"
               data-action="@Url.Action("MaritialStatus", "Admin", null)"><span class="glyphicon glyphicon-plus"></span></a>
        </td>
    </tr>
</table>

