@model IEnumerable<splc.domain.Models.WebIncidentType>
<h3>Web Incident Types</h3>
<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Sort Order</th>
        </tr>
    </thead>
    @foreach (var item in @Model)
    {
        <tr>
            <td class="nowrap">
                <a href="@Url.Action("EditWebIncidentType", "Admin", new { id = item.Id })" 
                    class="btnEdit" 
                    data-title="Edit Web Incident Type" 
                    data-refresh="true" 
                    data-action="@Url.Action("WebIncidentType", "Admin", null)"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="@Url.Action("DeleteWebIncidentType", "Admin", new { id = item.Id })" 
                   class="btnDelete" 
                   data-title="Delete Web Incident Type" 
                   data-refresh="true" 
                   data-action="@Url.Action("WebIncidentType", "Admin", null)">	<span class="glyphicon glyphicon-trash"></span></a>
            </td>
            <td>@item.Name</td>
            <td>@item.SortOrder</td>
        </tr>

    }
    <tr>
        <td colspan="3">
            <a href="@Url.Action("CreateWebIncidentType", "Admin", null)" 
                class="btnNew" 
                data-refresh="true" 
                data-title="New Web Incident Type" 
                data-action="@Url.Action("WebIncidentType", "Admin", null)"><span class="glyphicon glyphicon-plus"></span></a>
        </td>
    </tr>
</table>

