@using splc.beholder.web.Helpers
@model OrganizationPersonRel

@{
    var showPerson = ViewBag.Controller == "Organizations";
    var showOrganization = !showPerson;

    var organizationId = ViewBag.OrganizationId ?? -1;
    var beholderPersonId = ViewBag.BeholderPersonId ?? -1;
    var personId = ViewBag.PersonId ?? -1;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.OrganizationId, new { @required = "required", data_val_required = "Organization is required. " })

    if (showPerson)
    {
        <div class="form-group" id="personGroup">
            @Html.BootstrapLabelFor(m => m.BeholderPerson)
            <div class="col-sm-8">
                @(Html.Kendo().ComboBoxFor(m => m.PersonId).Name("PersonId").AutoBind(true).Enable(Model.PersonId == -1).HtmlAttributes(new { style = "width:100%; max-width:280px;" })
                      .DataTextField("Name").DataValueField("Id").MinLength(3).Placeholder("Find Person")
                      .Filter(FilterType.Contains).HighlightFirst(true).Events(e => e.DataBound("databoundPersonList"))
                      .TemplateId("personTemplate")
                      .DataSource(s =>
                          s.Read(r => r.Action("GetPersonSelectList", "Persons")).ServerFiltering(true)))

                @Html.HiddenFor(model => model.PersonId)
                <span class="help-block">@Html.ValidationMessageFor(model => model.BeholderPerson.Id)</span>

            </div>
        </div>
    
    }

    if (showOrganization)
    {
        if (Model.Id == 0)
        {
            @*@Html.HiddenFor(model => model.Organization.Id)*@
            <div class="form-group" id="organizationGroup">
                @Html.BootstrapLabelFor(m => m.OrganizationId)
                <div class="col-sm-8">
                    @*this is for the autocomplete search box for person*@
                    <div class="ui-widget">
                        <select id="combobox_org" data-url="@Url.Action("GetDropdown", "Organizations")" data-id="organizationCombo" data-hidden-field="OrganizationId" class="form-control"></select>
                    </div>
                    <span class="help-block">@Html.ValidationMessageFor(model => model.OrganizationId)</span>
                </div>
            </div>
        }
        else
        {
            <div class="form-group" id="organizationGroup">
                @Html.BootstrapLabelFor(m => m.Organization)
                <div class="col-sm-8">
                    <input type="text" class="disabled form-control" readonly="true" value="@Model.Organization.OrganizationName" style="width: 100%;" />
                    <span class="help-block">@Html.ValidationMessageFor(model => model.OrganizationId)</span>
                </div>
            </div>

        }
    }


    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.RelationshipTypeId)
        <div class="col-sm-8">
            @Html.DropDownListFor(model => model.RelationshipTypeId, ((IEnumerable<RelationshipType>)ViewBag.PossibleRelationshipTypes).Select(option => option != null ? new SelectListItem
                    {
                        Text = (option.Name),
                        Value = option.Id.ToString(),
                        Selected = (Model != null) && (option.Id == Model.RelationshipTypeId)
                    } : null), "Choose...", new { @class = "form-control", data_val_required = "Relationship Type is required." })
            <span class="help-block">@Html.ValidationMessageFor(model => model.RelationshipTypeId)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.DateStart)
        <div class="col-sm-8">
            @Html.EditorFor(m => m.DateStart)
            <span class="help-block">@Html.ValidationMessageFor(m => m.DateStart)</span>
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabelFor(m => m.DateEnd)
        <div class="col-sm-8">
            @Html.EditorFor(m => m.DateEnd)
            <span class="help-block">@Html.ValidationMessageFor(m => m.DateEnd)</span>
        </div>
    </div>

}

<script id="personTemplate" type="text/x-kendo-template">
    <strong>#: Name #</strong>
    <br />
    <small>Movement: #= Movement != null ? Movement : 'Unknown' #</small>
    <br />
    <small>DOB: #= DOB != null ? DOB : 'Unknown' #</small>
    <br />
    <small>Location: #= Location != null ? Location : 'Unknown' #</small>
</script>

<script type="text/javascript">
    $(function () {
        initPartialControls();

        if ($('#PersonId').val() == -1) { $('#PersonId').val(null); }

        if ($('#OrganizationId').val() == -1) { $('#OrganizationId').val(null); }

    });
</script>
