@model OrganizationSubscriptionRel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @* This partial view defines form fields that will appear when creating and editing entities *@
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.OrganizationId, new { @required = "required", data_val_required = "Organization is required. " })
    @Html.HiddenFor(model => model.SubscriptionId, new { @required = "required", @data_val_required = "Subscription is required." })

    <fieldset>

        @if (ViewBag.Controller == "Subscriptions")
        {
            @Html.HiddenFor(model => model.Organization.Id)
            <div class="form-group" id="organizationGroup">
                @Html.BootstrapLabelFor(model => model.Organization)
                <div class="col-sm-8">
                    @if (Model.Id == 0)
                    {
                        @*this is for the autocomplete search box for person*@
                        <div class="ui-widget">
                            <select id="combobox_org" data-url="@Url.Action("GetDropdown","Organizations")" data-id="organizationCombo" data-hidden-field="OrganizationId"></select>
                        </div>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.OrganizationId)</span>
                    }
                    else
                    {
                        @*<input readonly="true" class="text-box single-line" type="text" value="@Model.Organization.OrganizationName" />*@
                        <input type="text" class="disabled form-control" readonly="true" value="@Model.Organization.OrganizationName" style="width: 100%;" />
                    }
                </div>
            </div>
        }

        @if (ViewBag.Controller == "Organizations")
        {
            @Html.HiddenFor(model => model.Subscription.Id)
            <div class="form-group" id="subscriptionGroup">
                @Html.BootstrapLabelFor(m => m.Subscription)
                <div class="col-sm-8">
                    @if (Model.Id == 0)
                    {
                        @*this is for the autocomplete search box for person*@
                        <div class="ui-widget">
                            <select id="combobox_sub" data-url="@Url.Action("GetSubscriptionList", "Subscriptions")" data-id="subscriptionsCombo" data-hidden-field="SubscriptionId"></select>
                        </div>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.SubscriptionId)</span>
                    }
                    else
                    {
                        @*<input readonly="true" class="text-box single-line" type="text" value="@Model.Subscription.PublicationName" />*@
                        <input type="text" class="disabled form-control" readonly="true" value="@Model.Subscription.PublicationName" style="width: 100%;" />
                    }
                </div>
            </div>

        }

        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.RelationshipTypeId)
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.RelationshipTypeId, ((IEnumerable<RelationshipType>)ViewBag.PossibleRelationshipTypes).Select(option => option != null ? new SelectListItem
                    {
                        Text = (option.Name),
                        Value = option.Id.ToString(),
                        Selected = (Model != null) && (option.Id == Model.RelationshipTypeId)
                    } : null), "Choose...", new { @class = "form-control", @required = "required", @data_val_required = "Relationship Type is required." })
                    <span class="help-block">@Html.ValidationMessageFor(model => model.RelationshipTypeId)</span>
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor(m => m.DateStart)
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.DateStart)
                    <span class="help-block">@Html.ValidationMessageFor(m => m.DateStart)</span>
                </div>
            </div>

            <div class="form-group">
                @Html.BootstrapLabelFor(m => m.DateEnd)
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.DateEnd)
                    <span class="help-block">@Html.ValidationMessageFor(m => m.DateEnd)</span>
                </div>
            </div>


            @*<div class="form-group">
                    @Html.BootstrapLabelFor(m => m.ApprovalStatusId)
                    <div class="col-sm-8">
                        @Html.DropDownListFor(model => model.ApprovalStatusId, ((IEnumerable<ApprovalStatus>)ViewBag.PossibleApprovalStatus).Select(option => option != null ? new SelectListItem
                            {
                                Text = (option.Name),
                                Value = option.Id.ToString(),
                                Selected = (Model != null) && (option.Id == Model.ApprovalStatusId)
                            } : null), "Choose...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ApprovalStatusId)
                    </div>
                </div>*@
        </fieldset>
}

<script type="text/javascript">
    $(function () {
        initPartialControls();
        if ($('#SubscriptionId').val() == -1) { $('#SubscriptionId').val(null); }

        if ($('#OrganizationId').val() == -1) { $('#OrganizationId').val(null); }
    });
</script>
