@model IEnumerable<MediaPublishedEventRel>
@{
    var viewItem = ViewBag.Controller == "Events" ? "Published Items" : "Events";
    var source = ViewBag.Controller == "Events" ? "Events" : "MediaPublisheds";
    var mediaPublishedId =  ViewData["MediaPublishedId"] == null ? -1 : (int)ViewData["MediaPublishedId"];
    var eventId = ViewData["EventId"] == null ? -1 : (int)ViewData["EventId"]; 
    var showEvent = ViewBag.Controller == "MediaPublisheds";
}

<div class="panel panel-primary">
    <div class="panel panel-heading">@viewItem <span class="badge pull-right">@string.Format("{0}", Model.Count())</span></div>
    <div class="panel-body">
        <ul class="list-group">
            @if (!Model.Any())
            {
                <li class="list-group-item">
                    @string.Format("No Known {0} Relationships", viewItem)
                </li>
            }
            @foreach (var item in @Model)
            {
                <li class="list-group-item">
                    @if (source == "Events"){
                        @Html.ActionLink(item.MediaPublished.Name, "Details", "MediaPublisheds", new { id = item.MediaPublished.Id }, null)<br/>
                        @Html.DisplayFor(model => item.MediaPublished.MovementClass.Name)                        
                    }
                    else{
                        @Html.ActionLink(string.Format("{0}", item.Event.EventName), "Details", "Events", new { id = item.Event.Id }, null)<br/>
                        @Html.DisplayFor(model => item.Event.MovementClass.Name)
                    }
                    <div class="clearfix">
                        <span class="pull-right">
                            <a href="@Url.Action("EditMediaPublishedEvent", "MediaPublisheds", new { id = item.Id, source = source })" 
                               class="btnEdit" 
                               data-title="Edit Relationship" 
                               data-refresh="true" 
                               data-target="#mediaPublishedEvents"
                               data-action="@Url.Action("GetMediaPublishedEvents", "MediaPublisheds", new { mediaPublishedId = @mediaPublishedId, eventId = @eventId })"><span class="glyphicon glyphicon-pencil"></span></a>
                             <a href="@Url.Action("DeleteMediaPublishedEvent", "MediaPublisheds", new { id = item.Id})" 
                               class="btnDelete" 
                               data-title="Delete Relationship" 
                               data-refresh="true" 
                               data-target="#mediaPublishedEvents"
                               data-action="@Url.Action("GetMediaPublishedEvents", "MediaPublisheds", new { mediaPublishedId = @mediaPublishedId, eventId = @eventId })"><span class="glyphicon glyphicon-trash"></span></a>
                        </span>
                    </div>
                </li>

            }
        </ul>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("CreateMediaPublishedEvent", "MediaPublisheds", new { mediaPublishedId = ViewData["MediaPublishedId"] == null ? -1 : (int)ViewData["MediaPublishedId"]  , eventId = ViewData["EventId"] == null ? -1 : (int)ViewData["EventId"]})" 
           class="btnNew" 
           data-title="New Relationship" 
           data-refresh="true" 
           data-target="#mediaPublishedEvents"
           data-action="@Url.Action("GetMediaPublishedEvents", "MediaPublisheds", new { mediaPublishedId = @mediaPublishedId, eventId = @eventId })"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>



@*<table class="table table-bordered">
    <caption>
        @((string) ViewData["Controller"] == "Events" ? string.Format("Published Items ({0})", Model.Count()) : string.Format("Events ({0})", Model.Count()))
    </caption>
    
    @if (!Model.Any())
    {
        <tr>
            <td>@string.Format("No Known {0} Relationships",(string) ViewData["Controller"] == "Events" ? "Published Items" : "Events")</td>
        </tr>
    }
    @foreach (var mediaPublishedEventRel in Model)
    {
        //string controller = ViewData["Controller"].ToString();
        <tr>
            <td class="nowrap">
                <a href="@Url.Action("EditMediaPublishedEvent", "MediaPublisheds", new { id = mediaPublishedEventRel.Id, source = ViewData["Controller"].ToString()})" 
                    class="btnEdit" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetMediaPublishedEvents", "MediaPublisheds", new { mediaPublishedId =  ViewData["MediaPublishedId"] == null ? -1 : (int)ViewData["MediaPublishedId"] , eventId = ViewData["EventId"] == null ? -1 : (int)ViewData["EventId"] })"><i class="icon-pencil icon-large"></i></a>
                <a href="@Url.Action("DeleteMediaPublishedEvent", "MediaPublisheds", new { id = mediaPublishedEventRel.Id})" 
                    class="btnDelete" 
                    data-title="Delete Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetMediaPublishedEvents", "MediaPublisheds", new { mediaPublishedId =  ViewData["MediaPublishedId"] == null ? -1 : (int)ViewData["MediaPublishedId"]  , eventId = ViewData["EventId"] == null ? -1 : (int)ViewData["EventId"] })"><i class="icon-trash icon-large"></i></a>
            </td>
            @if (ViewData["Controller"].ToString() == "Events")
            {
                <td>
                    @Html.ActionLink(mediaPublishedEventRel.MediaPublished.Name, "Details", "MediaPublisheds", new { id = mediaPublishedEventRel.MediaPublished.Id }, null)
                </td>
                <td>@Html.DisplayFor(model => mediaPublishedEventRel.MediaPublished.MovementClass.Name)</td>
            }
            else
            {
                <td>
                    @Html.ActionLink(mediaPublishedEventRel.Event.EventName, "Details", "Events", new { id = mediaPublishedEventRel.Event.Id }, null)
                </td>
                <td>@Html.DisplayFor(model => mediaPublishedEventRel.Event.MovementClass.Name)</td>
            }
        </tr>
    }
    <tr>
        <td colspan="3">
            <a href="@Url.Action("CreateMediaPublishedEvent", "MediaPublisheds", new { mediaPublishedId = ViewData["MediaPublishedId"] == null ? -1 : (int)ViewData["MediaPublishedId"]  , eventId = ViewData["EventId"] == null ? -1 : (int)ViewData["EventId"]})" 
                class="btnNew" 
                data-title="New Relationship" 
                data-refresh="true"
                data-action="@Url.Action("GetMediaPublishedEvents", "MediaPublisheds", new { mediaPublishedId = ViewData["MediaPublishedId"] == null ? -1 : ViewData["MediaPublishedId"], eventId = ViewData["EventId"] == null ? -1 : (int)ViewData["EventId"]})"><i class="icon-plus-sign icon-large"></i></a>
        </td>
    </tr>
</table>*@