@model IEnumerable<MediaPublishedVehicleRel>
@{
    var viewItem = ViewBag.Controller == "Vehicles" ? "Published Items" : "Vehicles";
    var source = ViewBag.Controller == "Vehicles" ? "Vehicles" : "MediaPublisheds";
    var mediaPublishedId =  ViewData["MediaPublishedId"] == null ? -1 : (int)ViewData["MediaPublishedId"];
    var vehicleId = ViewData["VehicleId"] == null ? -1 : (int)ViewData["VehicleId"]; 
    var showVehicle = ViewBag.Controller == "MediaPublisheds";
}

<div class="panel panel-primary">
    <div class="panel panel-heading">@viewItem <span class="badge pull-right">@string.Format("{0}", Model.Count())</span></div>
    <div class="panel-body">
        <ul class="list-group">
            @if (!Model.Any())
            {
                <li class="list-group-item">
                    @string.Format("No Known {0} Relationships", viewItem)
                </li>
            }
            @foreach (var item in @Model)
            {
                <li class="list-group-item">
                    @if (showVehicle){
                        @Html.ActionLink(string.Format("{0}", item.Vehicle), "Details", "Vehicles", new { id = item.Vehicle.Id }, null)<br/>
                        @Html.DisplayFor(model => item.Vehicle.VIN)
                    }
                    else{
                        @Html.ActionLink(item.MediaPublished.Name, "Details", "MediaPublisheds", new { id = item.MediaPublished.Id }, null)<br/>
                        @Html.DisplayFor(model => item.MediaPublished.MovementClass.Name)
                    }
                    <div class="clearfix">
                        <span class="pull-right">
                            <a href="@Url.Action("EditMediaPublishedVehicle", "MediaPublisheds", new { id = item.Id, source = @source })" 
                               class="btnEdit" 
                               data-title="Edit Relationship" 
                               data-refresh="true" 
                               data-target="#mediaPublishedVehicles"
                               data-action="@Url.Action("GetMediaPublishedVehicles", "MediaPublisheds", new { mediaPublishedId = @mediaPublishedId, vehicleId = @vehicleId })"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="@Url.Action("DeleteMediaPublishedVehicle", "MediaPublisheds", new { id = item.Id})" 
                               class="btnDelete" 
                               data-title="Delete Relationship" 
                               data-refresh="true" 
                               data-target="#mediaPublishedVehicles"
                               data-action="@Url.Action("GetMediaPublishedVehicles", "MediaPublisheds", new { mediaPublishedId = @mediaPublishedId, vehicleId = @vehicleId })"><span class="glyphicon glyphicon-trash"></span></a>
                        </span>
                    </div>
                </li>

            }
        </ul>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("CreateMediaPublishedVehicle", "MediaPublisheds", new { mediaPublishedId = @mediaPublishedId, vehicleId = @vehicleId })" 
           class="btnNew" 
           data-title="New Relationship" 
           data-refresh="true" 
           data-target="#mediaPublishedVehicles"
           data-action="@Url.Action("GetMediaPublishedVehicles", "MediaPublisheds", new { mediaPublishedId = @mediaPublishedId, vehicleId = @vehicleId })"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>
