@model NewsSourceComment

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.NewsSourceId)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CreatedUserId)
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="form-group">
            @*@Html.BootstrapLabelFor(m => m.Comment)*@
            <div class="col-sm-8">
                @Html.EditorFor(model => model.Comment)
                <span class="help-block">@Html.ValidationMessageFor(model => model.Comment)</span>
            </div>
        </div>

    </fieldset>
}
