@model MediaCorrespondenceSubscriptionRel

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @* This partial view defines form fields that will appear when creating and editing entities *@
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.MediaCorrespondenceId, new { @required = "required", @data_val_required = "Correspondence is required." })
    @Html.HiddenFor(model => model.SubscriptionId, new { @required = "required", @data_val_required = "Subscription is required." })

    <fieldset>

        @if (ViewBag.Controller == "Subscriptions")
        {
            @Html.HiddenFor(model => model.MediaCorrespondence.Id)
            <div class="form-group" id="mediaCorrespondenceGroup">
                @Html.BootstrapLabelFor(model => model.MediaCorrespondence)
                <div class="col-sm-8">
                    @if (Model.Id == 0)
                    {
                        @*this is for the autocomplete search box for person*@
                        <div class="ui-widget">
                            <select id="combobox_corr" data-url="@Url.Action("GetMediaCorrespondenceList","MediaCorrespondences")" data-id="mediaCorrespondenceCombo" data-hidden-field="MediaCorrespondenceId"></select>
                        </div>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.MediaCorrespondenceId)</span>
                    }
                    else
                    {
                        @*<input readonly="true" class="text-box single-line" type="text" value="@Model.MediaCorrespondence.CorrespondenceName" />*@
                        <input type="text" class="disabled form-control" readonly="true" value="@Model.MediaCorrespondence.CorrespondenceName" style="width: 100%;" />
                    }
                </div>
            </div>
        }

        @if (ViewBag.Controller == "MediaCorrespondences")
        {
            @Html.HiddenFor(model => model.Subscription.Id)
            <div class="form-group" id="subscriptionGroup">
                @Html.BootstrapLabelFor(m => m.Subscription)
                <div class="col-sm-8">
                    @if (Model.Id == 0)
                    {
                        @*this is for the autocomplete search box for person*@
                        <div class="ui-widget">
                            <select id="combobox_subscription" data-url="@Url.Action("GetSubscriptionList", "Subscriptions")" data-id="subscriptionsCombo" data-hidden-field="SubscriptionId"></select>
                        </div>
                        <span class="help-block">@Html.ValidationMessageFor(model => model.SubscriptionId)</span>
                    }
                    else
                    {
                        @*<input readonly="true" class="text-box single-line" type="text" value="@Model.Subscription.PublicationName" />*@
                        <input type="text" class="disabled form-control" readonly="true" value="@Model.Subscription.PublicationName" style="width: 100%;" />
                    }
                </div>
            </div>
        }

        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.RelationshipTypeId)
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.RelationshipTypeId, ((IEnumerable<RelationshipType>)ViewBag.PossibleRelationshipTypes).Select(option => option != null ? new SelectListItem
                    {
                        Text = (option.Name),
                        Value = option.Id.ToString(),
                        Selected = (Model != null) && (option.Id == Model.RelationshipTypeId)
                    } : null), "Choose...", new { @class = "form-control", @required = "required", @data_val_required = "Relationship Type is required." })
                <div class="help-block">@Html.ValidationMessageFor(model => model.RelationshipTypeId)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.DateStart)
            <div class="col-sm-8">
                @Html.EditorFor(m => m.DateStart)
                <div class="help-block">@Html.ValidationMessageFor(m => m.DateStart)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.BootstrapLabelFor(m => m.DateEnd)
            <div class="col-sm-8">
                @Html.EditorFor(m => m.DateEnd)
                <div class="help-block">@Html.ValidationMessageFor(m => m.DateEnd)</div>
            </div>
        </div>

    </fieldset>
}

<script type="text/javascript">
    $(function () {
        initPartialControls();
        if ($('#MediaCorrespondenceId').val() == -1) { $('#MediaCorrespondenceId').val(null); }

        if ($('#SubscriptionId').val() == -1) { $('#SubscriptionId').val(null); }
    });
</script>
