@model IEnumerable<splc.domain.Models.MediaCorrespondenceMediaWebsiteEGroupRel>
@{
    var viewItem = ViewBag.Controller == "MediaCorrespondences" ? "Website EGroups" : "Correspondence Items";
    var source = ViewBag.Controller == "MediaCorrespondences" ? "MediaCorrespondences" : "MediaWebsiteEGroups";
    var mediaWebsiteEGroupId =  ViewData["MediaWebsiteEGroupId"] == null ? -1 : (int)ViewData["MediaWebsiteEGroupId"];
    var mediaCorrespondenceId =  ViewData["MediaCorrespondenceId"] == null ? -1 : (int)ViewData["MediaCorrespondenceId"]; 
    var showCorrespondence = ViewBag.Controller == "MediaWebsiteEGroups";
}

<div class="panel panel-primary">
    <div class="panel panel-heading">@viewItem <span class="badge pull-right">@string.Format("{0}", Model.Count())</span></div>
    <div class="panel-body">
        <ul class="list-group">
            @if (!Model.Any())
            {
                <li class="list-group-item">
                    @string.Format("No Known {0} Relationships", viewItem)
                </li>
            }
            @foreach (var item in @Model)
            {
                <li class="list-group-item">
                    @if (showCorrespondence){
                        @Html.ActionLink(item.MediaCorrespondence.CorrespondenceName, "Details", "MediaCorrespondences", new { id = item.MediaCorrespondence.Id }, null)<br/>
                        @Html.DisplayFor(model => item.MediaCorrespondence.MovementClass.Name)
                    }
                    else{
                       @Html.ActionLink(item.MediaWebsiteEGroup.Name, "Details", "MediaWebsiteEGroups", new { id = item.MediaWebsiteEGroup.Id }, null)<br/>
                       @Html.DisplayFor(model => item.MediaWebsiteEGroup.MovementClass.Name)
                    }
                    <div class="clearfix">
                        <span class="pull-right">
                            <a href="@Url.Action("EditMediaCorrespondenceMediaWebsiteEGroup", "MediaCorrespondences", new { id = item.Id, source = @source })" 
                               class="btnEdit" 
                               data-title="Edit Relationship" 
                               data-refresh="true" 
                               data-target="#mediaCorrespondenceMediaWebsiteEGroups"
                               data-action="@Url.Action("GetMediaCorrespondenceMediaWebsiteEGroups", "MediaCorrespondences", new { mediaCorrespondenceId =  @mediaCorrespondenceId, mediaWebsiteEGroupId = @mediaWebsiteEGroupId })"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="@Url.Action("DeleteMediaCorrespondenceMediaWebsiteEGroup", "MediaCorrespondences", new { id = item.Id})" 
                               class="btnDelete" 
                               data-title="Delete Relationship" 
                               data-refresh="true" 
                               data-target="#mediaCorrespondenceMediaWebsiteEGroups"
                               data-action="@Url.Action("GetMediaCorrespondenceMediaWebsiteEGroups", "MediaCorrespondences", new { mediaCorrespondenceId =  @mediaCorrespondenceId, mediaWebsiteEGroupId = @mediaWebsiteEGroupId })"><span class="glyphicon glyphicon-trash"></span></a>
                        </span>
                    </div>
                </li>

            }
        </ul>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("CreateMediaCorrespondenceMediaWebsiteEGroup", "MediaCorrespondences", new { mediaCorrespondenceId = @mediaCorrespondenceId, mediaWebsiteEGroupId = @mediaWebsiteEGroupId })" 
           class="btnNew" 
           data-title="New Relationship" 
           data-refresh="true" 
           data-target="#mediaCorrespondenceMediaWebsiteEGroups"
           data-action="@Url.Action("GetMediaCorrespondenceMediaWebsiteEGroups", "MediaCorrespondences", new { mediaCorrespondenceId =  @mediaCorrespondenceId, mediaWebsiteEGroupId = @mediaWebsiteEGroupId })"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>

