@model MediaCorrespondence

@{
    ViewBag.Title = "New Correspondence";
}

<h2 class="title-bar">@ViewBag.Title</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    @Html.Partial("_CreateOrEdit", Model)
    <br />
    <div class="row">
        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}

<script>
    function onSuccess(result) {
        if(result.url){
            window.location.href = result.url;
        }
    }
</script>
