@using Caseiro.Mvc.PagedList.Helpers
@model Caseiro.Mvc.PagedList.PagedList<Chapter>

@{
    ViewBag.Title = "Chapters";

    var pageSize = Request["pageSize"];
    var chaptername = Request["chaptername"];
    var activeyear = Request["activeyear"];
    var activestatusid = Request["activestatusid"];
    var location = Request["location"];
    var movementclassid = Request["movementclassid"];
    var approvalstatusid = Request["approvalstatusid"];

    var movementclassid_string = "";
    if ((Session["movementclassid"] ?? Request["movementclassid"]) != null)
    {
        movementclassid_string = string.Join(",", (List<int>)(Session["movementclassid"] ?? Request["movementclassid"]));
    }
    var approvalstatusid_string = "";
    if ((Session["approvalstatusid"] ?? Request["approvalstatusid"]) != null)
    {
        approvalstatusid_string = string.Join(",", (List<int>)(Session["approvalstatusid"] ?? Request["approvalstatusid"]));
    }

    var stateid_string = "";
    if ((Session["stateid"] ?? Request["stateid"]) != null)
    {
        stateid_string = string.Join(",", (List<int>)(Session["stateid"] ?? Request["stateid"]));
    }

}

@if (!Model.Any())
{
    <h3>No Chapters found</h3>
}
<div class="row">
    @Html.Pager(Model, page => Url.Action("Index", new { page, pageSize, chaptername, movementclassid, movementclassid_string, approvalstatusid, approvalstatusid_string, stateid_string, activeyear, activestatusid, location }))
</div>


<ul class="card-list">
    @foreach (var item in Model)
    {
        <li>
            <div class="thumbnail">

                <a href="@Url.Action("Details", "Chapters", new { id = item.Id })">


                    <h4 class="title-elliipsis" title="@string.Format("{0}", item.ChapterName)">@string.Format("{0}", item.ChapterName)</h4>
                    <table class="table">
                        <tr>
                            <td>Movement</td>
                            <td>@(item.MovementClass == null ? "Unknown" : item.MovementClass.Name)</td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>
                                @{
                                    var address = new Address();
                                    var rel = item.AddressChapterRels.FirstOrDefault(x => x.PrimaryStatusId == 1 && x.DateDeleted == null) ?? item.AddressChapterRels.FirstOrDefault(x => x.DateDeleted == null);

                                    if (rel != null)
                                    {
                                        address = rel.Address;
                                    }
                                }
                                @{
                                    var city = "";
                                    var state = "";
                                }
                                @if (address.City != null)
                                {
                                    city = address.City;
                                }
                                else
                                {
                                    city = "Unknown";
                                }
                                @if (address.State != null)
                                {
                                    state = address.State.StateCode;
                                }
                                else
                                {
                                    state = "Unknown";
                                }

                                @string.Format("{0}, {1}", city, state)
                            </td>

                        </tr>
                        <tr>
                            <td>County</td>
                            <td>
                                @string.Format("{0}", address.County ?? "Unknown")
                            </td>
                        </tr>
                        <tr>
                            <td class="nowrap">Active Year</td>
                            <td>@(item.ActiveYear == null ? "Unknown" : item.ActiveYear.ToString())</td>
                        </tr>
                        <tr>
                            <td>Active</td>
                            <td>@(item.ActiveStatusId == null ? "Unknown" : item.ActiveStatus.Name)</td>
                        </tr>
                    </table>
                </a>
            </div>
        </li>
                                    }
</ul>

<div class="row">
    @Html.Pager(Model, page => Url.Action("Index", new { page, pageSize, chaptername, movementclassid, movementclassid_string, approvalstatusid, approvalstatusid_string, stateid_string, activeyear, activestatusid, location }))
</div>
