@model IEnumerable<splc.domain.Models.ContactMediaCorrespondenceRel>

<h2>Contact Media Correspondence Relationships</h2>
<table class="table table-hover">
    <tr>
        <th>Contact
        </th>
        <th>Media/Correspondence
        </th>
        <th>Date Start
        </th>
        <th>Date End
        </th>
        <th>Relationship Type
        </th>
        <th>Primary Status
        </th>
        <th>Approval Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Contact.CommonPerson.FullName
            </td>
            <td>
                @item.MediaCorrespondence.CorrespondenceName
            </td>
            <td>
                @item.DateStart
            </td>
            <td>
                @item.DateEnd
            </td>
            <td>
                @(item.RelationshipType == null ? "Unknown" : item.RelationshipType.Name)
            </td>
            <td>
                @(item.PrimaryStatusId == null ? "Unknown" : item.PrimaryStatus.Name)
            </td>
            <td>
                @item.ApprovalStatus.Name
            </td>
            <td class="nowrap">
                <a href="@Url.Action("ApproveChapterEvent", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetChapterEventApprovals", "Approval")">Approve</a>

                <a href="@Url.Action("RejectChapterEvent", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetChapterEventApprovals", "Approval")">Disapprove</a>

            </td>
        </tr>
    }

</table>
