@model IEnumerable<splc.domain.Models.ContactSubscriptionRel>

<h2>Contact Subscription Relationships</h2>
<table class="table table-hover">
    <tr>
        <th>
            Contact
        </th>
        <th>
            Publication
        </th>
        <th>
            Date Start
        </th>
        <th>
            Date End
        </th>
        <th>
            Relationship Type
        </th>
        <th>
            Primary Status
        </th>
        <th>
            Approval Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Contact.CommonPerson.FullName
            </td>
            <td>
                @item.Subscription.PublicationName
            </td>
            <td>
                @item.DateStart
            </td>
            <td>
                @item.DateEnd
            </td>
            <td>
                @(item.RelationshipType == null ? "Unknown" : item.RelationshipType.Name)
            </td>
            <td>
                @(item.PrimaryStatusId == null ? "Unknown" : item.PrimaryStatus.Name)
            </td>
            <td>
                @item.ApprovalStatus.Name
            </td>
            <td class="nowrap">
                <a href="@Url.Action("ApproveContactSubscription", "Approval", new { id = item.Id })"
                   class="btn btnApprove"
                   data-title="Edit Relationship"
                   data-refresh="true"
                   data-action="@Url.Action("GetContactSubscriptionApprovals", "Approval")">Approve</a>

                <a href="@Url.Action("RejectContactSubscription", "Approval", new { id = item.Id })"
                   class="btn btnApprove"
                   data-title="Edit Relationship"
                   data-refresh="true"
                   data-action="@Url.Action("GetContactSubscriptionApprovals", "Approval")">Disapprove</a>

            </td>
        </tr>
    }

</table>
