@model IEnumerable<splc.domain.Models.MediaCorrespondenceMediaCorrespondenceRel>

<h2>Correspondence Correspondence Relationships</h2>
<table class="table table-hover">
    <tr>
        <th>Correspondence</th>
        <th>Correspondence</th>
        <th>Date Start</th>
        <th>Date End</th>
        <th>Relationship Type</th>
        <th>Primary Status</th>
        <th>Approval Status</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MediaCorrespondence.CorrespondenceName
            </td>
            <td>
                @item.MediaCorrespondence.CorrespondenceName
            </td>
            <td>
                @item.DateStart
            </td>
            <td>
                @item.DateEnd
            </td>
            <td>
                @(item.RelationshipType == null ? "Unknown" : item.RelationshipType.Name)
            </td>
            <td>
                @(item.PrimaryStatusId == null ? "Unknown" : item.PrimaryStatus.Name)
            </td>
            <td>
                @item.ApprovalStatus.Name
            </td>
            <td class="nowrap">
                <a href="@Url.Action("ApproveCorrespondenceCorrespondence", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetCorrespondenceCorrespondenceApprovals", "Approval")">Approve</a>

                <a href="@Url.Action("RejectCorrespondenceCorrespondence", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetCorrespondenceCorrespondenceApprovals", "Approval")">Disapprove</a>

            </td>
        </tr>
    }

</table>
