@model IEnumerable<splc.domain.Models.EventVehicleRel>

<h2>Event Vehicle Relationships</h2>
<table class="table table-hover">
    <tr>
        <th>Event
        </th>
        <th>
        VIN
        <th>Date Start
        </th>
        <th>Date End
        </th>
        <th>Relationship Type
        </th>
        <th>Primary Status
        </th>
        <th>Approval Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Event.EventName
            </td>
            <td>
                @item.Vehicle.VIN
            </td>
            <td>
                @item.DateStart
            </td>
            <td>
                @item.DateEnd
            </td>
            <td>
                @(item.RelationshipType == null ? "Unknown" : item.RelationshipType.Name)
            </td>
            <td>
                @(item.PrimaryStatusId == null ? "Unknown" : item.PrimaryStatus.Name)
            </td>
            <td>
                @item.ApprovalStatus.Name
            </td>
            <td class="nowrap">
                <a href="@Url.Action("ApproveEventVehicle", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetEventVehicleApprovals", "Approval")">Approve</a>

                <a href="@Url.Action("RejectEventVehicle", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetEventVehicleApprovals", "Approval")">Disapprove</a>

            </td>
        </tr>
    }

</table>
