@model IEnumerable<OrganizationMediaPublishedRel>

<h2>Organization Published Item Relationships</h2>
<table class="table table-hover">
    <tr>
        <th>Organization
        </th>
        <th>Published Item
        </th>
        <th>Date Start
        </th>
        <th>Date End
        </th>
        <th>Relationship Type
        </th>
        <th>Primary Status
        </th>
        <th>Approval Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Organization.OrganizationName
            </td>
            <td>
                @item.MediaPublished.Name
            </td>
            <td>
                @item.DateStart
            </td>
            <td>
                @item.DateEnd
            </td>
            <td>
                @(item.RelationshipType == null ? "Unknown" : item.RelationshipType.Name)
            </td>
            <td>
                @(item.PrimaryStatusId == null ? "Unknown" : item.PrimaryStatus.Name)
            </td>
            <td>
                @item.ApprovalStatus.Name
            </td>
            <td class="nowrap">
                <a href="@Url.Action("ApproveOrganizationPublished", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetOrganizationPublishedApprovals", "Approval")">Approve</a>

                <a href="@Url.Action("RejectOrganizationPublished", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetOrganizationPublishedApprovals", "Approval")">Disapprove</a>

            </td>
        </tr>
    }

</table>
