@model IEnumerable<splc.domain.Models.PersonMediaImageRel>

<h2>Person-Image Relationships</h2>
<table class="table table-hover">
    <tr>
        <th>Person
        </th>
        <th>Media Image
        </th>
        <th>Date Start
        </th>
        <th>Date End
        </th>
        <th>Relationship Type
        </th>
        <th>Primary Status
        </th>
        <th>Approval Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.BeholderPerson.CommonPerson.FullName
            </td>
            <td>
                @item.MediaImage.ImageTitle ?? "Unknown"
            </td>
            <td>
                @item.DateStart
            </td>
            <td>
                @item.DateEnd
            </td>
            <td>
                @(item.RelationshipType == null ? "Unknown" : item.RelationshipType.Name)
            </td>
            <td>
                @(item.PrimaryStatusId == null ? "Unknown" : item.PrimaryStatus.Name)
            </td>
            <td>
                @item.ApprovalStatus.Name
            </td>
            <td class="nowrap">
                <a href="@Url.Action("ApprovePersonMediaImage", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetPersonMediaImageApprovals", "Approval")">Approve</a>
                <a href="@Url.Action("RejectPersonMediaImage", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetPersonMediaImageApprovals", "Approval")">Disapprove</a>

            </td>
        </tr>
    }

</table>
