    @model IEnumerable<splc.domain.Models.PersonPersonRel>

<h2>Person-Person Relationships</h2>
<table class="table table-hover">
    <tr>
        <th>
@*            @Html.DisplayNameFor(model => model.PersonId)*@
            Person
        </th>
        <th>
            Person
  @*          @Html.DisplayNameFor(model => model.Person2Id)*@
        </th>
        <th>Date Start
        </th>
        <th>Date End
        </th>
        <th>Relationship Type
        </th>
        <th>Primary Status
        </th>
        <th>Approval Status
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.BeholderPerson.CommonPerson.FullName
        </td>
        <td>
            @item.BeholderPerson2.CommonPerson.FullName
        </td>
            <td>
                @item.DateStart
            </td>
            <td>
                @item.DateEnd
            </td>
            <td>
                @(item.RelationshipType == null ? "Unknown" : item.RelationshipType.Name)
            </td>
            <td>
                @(item.PrimaryStatusId == null ? "Unknown" : item.PrimaryStatus.Name)
            </td>
            <td>
                @item.ApprovalStatus.Name
            </td>
            <td class="nowrap">
           
                    <a href="@Url.Action("ApprovePersonPerson", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetPersonPersonApprovals", "Approval")">
                        Approve</a>

                    <a href="@Url.Action("RejectPersonPerson", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetPersonPersonApprovals", "Approval")">
                        Disapprove</a>
            
            </td>
    </tr>
}

</table>
