@model IEnumerable<splc.domain.Models.MediaWebsiteEGroupSubscriptionRel>

<h2>Website EGroup Subscription Relationships</h2>
<table class="table table-hover">
    <tr>
        <th>
            Website
        </th>
        <th>
            Subscription
        </th>
        <th>
            Date Start
        </th>
        <th>
            Date End
        </th>
        <th>
            Relationship Type
        </th>
        <th>
            Primary Status
        </th>
        <th>
            Approval Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.MediaWebsiteEGroup.Name
            </td>
            <td>
                @item.Subscription.PublicationName
            </td>
            <td>
                @item.DateStart
            </td>
            <td>
                @item.DateEnd
            </td>
            <td>
                @(item.RelationshipType == null ? "Unknown" : item.RelationshipType.Name)
            </td>
            <td>
                @(item.PrimaryStatusId == null ? "Unknown" : item.PrimaryStatus.Name)
            </td>
            <td>
                @item.ApprovalStatus.Name
            </td>
            <td class="nowrap">
                <a href="@Url.Action("ApprovePublishedWebsiteEGroup", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetPublishedWebsiteEGroupApprovals", "Approval")">Approve</a>
                <a href="@Url.Action("RejectPublishedWebsiteEGroup", "Approval", new { id = item.Id })" 
                    class="btn btnApprove" 
                    data-title="Edit Relationship" 
                    data-refresh="true" 
                    data-action="@Url.Action("GetPublishedWebsiteEGroupApprovals", "Approval")">Disapprove</a>

            </td>
        </tr>
    }

</table>
