@using splc.domain.Models
@model IEnumerable<PendingRemoval>

@{
    ViewBag.Title = "Pending Removals";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="title-bar">@ViewBag.Title</h2>
<div class="search-bar">
    <span class="pull-right">
    </span>
</div>

<div class="row">
    <table class="table table-condensed table-responsive table-striped">
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Username</th>
            <th>Removal Reason</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.Name</td>
                <td>@item.Username</td>
                <td>@item.RemovalReason</td>
                <td>@Html.ActionLink("Remove", "ConfirmPendingRemoval", "Approval", new { id = item.Id, type = item.Type }, new { @class = "btn btn-primary" })  @Html.ActionLink("Clear", "ClearPendingRemoval", "Approval", new {id = item.Id, type = item.Type}, new { @class = "btn btn-default" })</td>
            </tr>
        }
    </table>
</div>