@model MediaAudioVideo

@{
    ViewBag.Title = "New Audio Video";
}

<h2 class="title-bar">@ViewBag.Title</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.Id)
    @Html.Partial("_CreateOrEdit", Model)

    <div class="row">
        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}

<script>
    function onSuccess(result) {
        if (result.url) {
            window.location.href = result.url;
        }
    }
</script>