@model IEnumerable<MediaWebsiteEGroupMediaAudioVideoRel>
@{
    var viewItem = ViewBag.Controller == "MediaAudioVideos" ? "Website EGroups" : "Audio Videos";
    var source = ViewBag.Controller == "MediaAudioVideos" ? "MediaAudioVideos" : "MediaWebsiteEGroups";
    var mediaWebsiteEGroupId =  ViewData["MediaWebsiteEGroupId"] == null ? -1 : (int)ViewData["MediaWebsiteEGroupId"];
    var mediaAudioVideoId = ViewData["MediaAudioVideoId"] == null ? -1 : (int) ViewData["MediaAudioVideoId"];
    var showAudioVideo = ViewBag.Controller == "MediaWebsiteEGroups";
}

<div class="panel panel-primary">
    <div class="panel panel-heading">@viewItem <span class="badge pull-right">@string.Format("{0}", Model.Count())</span></div>
    <div class="panel-body">
        <ul class="list-group">
            @if (!Model.Any())
            {
                <li class="list-group-item">
                    @string.Format("No Known {0} Relationships", viewItem)
                </li>
            }
            @foreach (var item in @Model)
            {
                <li class="list-group-item">
                    @if (showAudioVideo){
                        @Html.ActionLink(item.MediaAudioVideo.Title, "Details", "MediaAudioVideos", new { id = item.MediaAudioVideo.Id }, null)<br/>
                        @Html.DisplayFor(model => item.MediaAudioVideo.MovementClass.Name)
                    }
                    else{
                        @Html.ActionLink(item.MediaWebsiteEGroup.Name, "Details", "MediaWebsiteEGroups", new { id = item.MediaWebsiteEGroup.Id }, null)<br/>
                        @Html.DisplayFor(model => item.MediaWebsiteEGroup.MovementClass.Name)
                    }
                    <div class="clearfix">
                        <span class="pull-right">
                            <a href="@Url.Action("EditMediaWebsiteEGroupMediaAudioVideo", "MediaWebsiteEGroups", new { id = item.Id, source = @source })" 
                               class="btnEdit" 
                               data-title="Edit Relationship" 
                               data-refresh="true" 
                               data-target="#mediaWebsiteEGroupMediaAudioVideos"
                               data-action="@Url.Action("GetMediaWebsiteEGroupMediaAudioVideos", "MediaWebsiteEGroups", new { mediaWebsiteEGroupId = @mediaWebsiteEGroupId, mediaAudioVideoId = @mediaAudioVideoId })"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="@Url.Action("DeleteMediaWebsiteEGroupMediaAudioVideo", "MediaWebsiteEGroups", new { id = item.Id})" 
                               class="btnDelete" 
                               data-title="Delete Relationship" 
                               data-refresh="true" 
                               data-target="#mediaWebsiteEGroupMediaAudioVideos"
                               data-action="@Url.Action("GetMediaWebsiteEGroupMediaAudioVideos", "MediaWebsiteEGroups", new { mediaWebsiteEGroupId = @mediaWebsiteEGroupId, mediaAudioVideoId = @mediaAudioVideoId })"><span class="glyphicon glyphicon-trash"></span></a>
                        </span>
                    </div>
                </li>

            }
        </ul>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("CreateMediaWebsiteEGroupMediaAudioVideo", "MediaWebsiteEGroups", new { mediaWebsiteEGroupId = @mediaWebsiteEGroupId, mediaAudioVideoId = @mediaAudioVideoId })" 
           class="btnNew" 
           data-title="New Relationship" 
           data-refresh="true" 
           data-target="#mediaWebsiteEGroupMediaAudioVideos"
           data-action="@Url.Action("GetMediaWebsiteEGroupMediaAudioVideos", "MediaWebsiteEGroups", new { mediaWebsiteEGroupId = @mediaWebsiteEGroupId, mediaAudioVideoId = @mediaAudioVideoId })"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>
